<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805246232494-tsdtfocvpedqd3hil7kb00iomdre78ci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805246232494-tsdtfocvpedqd3hil7kb00iomdre78ci</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>805246232494-dhsmmo9j7eomfn3uvt5mil4emn2mp106.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0v-dEbdBwyoEOy5Jyud10lZU0RppvrWw</string>
	<key>GCM_SENDER_ID</key>
	<string>805246232494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inspiration5.hubme</string>
	<key>PROJECT_ID</key>
	<string>hubme-hackaton</string>
	<key>STORAGE_BUCKET</key>
	<string>hubme-hackaton.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805246232494:ios:6c14539be75f28d606ca3f</string>
</dict>
</plist>